<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			<ion-icon name="chatboxes"></ion-icon>
			Chats
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
		<ion-refresher-content></ion-refresher-content>
	</ion-refresher>
	<div *ngIf="(chats$ | async) as chats">
		<ion-list *ngIf="chats.length">
			<ion-item *ngFor="let chat of chats" (press)="showOptions(chat)" (click)="goToChat(chat)">
				<ion-avatar slot="start">
					<img [src]="helper.profileImage(chat.user1.profileImage)">
				</ion-avatar>
				<ion-label>
					<h2>{{chat.user1.name}}</h2>
					<ion-note>{{chat.messages | lastMessageTime}} ago</ion-note>
					<p>{{chat.messages | lastMessage}}</p>
				</ion-label>
			</ion-item>
		</ion-list>
		<div *ngIf="!chats.length">
			<div align="center">
				<ion-icon style="font-size: 200px; color: rgb(170,170,170);" name="chatboxes"></ion-icon>
			</div>
			<h5 style="margin-top: 40px; text-align: center; color: rgb(170,170,170);">NO HAY CHATS</h5>
		</div>
	</div>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button color="secondary" (click)="newChat()">
			<ion-icon name="person-add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
