<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaultHref="tabs/chat/list"></ion-back-button>
		</ion-buttons>
		<ion-avatar slot="start">
			<img [src]="helper.profileImage(chatingWith.profileImage)">
		</ion-avatar>
		<ion-title style="padding: 3px 0 3px 16px;">
			{{chatingWith.name}}
			<br/>
			<ion-note color="light">@{{chatingWith.username}}</ion-note>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h5 [class.no-messages]="true" *ngIf="!chat.messages.length">NO MESSAGES</h5>
	<ion-list lines="none">
		<ion-item *ngFor="let message of chat.messages" [class.my-message]="userService.user._id === message.sentBy"
				  [class.other-message]="userService.user._id !== message.sentBy">
			<ion-item class="chat" slot="{{userService.user._id == message.sentBy?'end':'start'}}">
				<ion-avatar slot="start">
					<img [src]="getUserImage(chat, message)">
				</ion-avatar>
				<img class="message-img" *ngIf="message.type == 'image'" [src]="helper.getUrl(message.message)" alt="">
				<ion-text text-wrap>
					<p *ngIf="message.type != 'image'">{{message.message}}</p>
					<ion-note>{{message.sentAt | fromNow}}</ion-note>
				</ion-text>
			</ion-item>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-input type="text" placeholder="Message..." [(ngModel)]="message"></ion-input>
		<ion-buttons slot="start" *ngIf="!message.trim().length">
			<ion-button (click)="sendImage(chat)">
				<ion-icon name="image" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-buttons slot="end" *ngIf="message.trim().length">
			<ion-button color="royal" (click)="sendMessage()">
				<ion-icon name="send" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>

