:host {

	--ion-background-color: transparent;

	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 600% 600%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;

	ion-content {
		//background-color: #1da1f3 !important;
	}

	.main-logo {
		width: 50%;
		display: block;
		margin: 40px auto 20px;
		max-width: 300px;
	}

	.logo-icon {
		margin: 40px auto 20px;
		font-size: 200px;
		color: rgba(255, 255, 255, .9);
	}

	ion-input, ion-input input::placeholder {
		color: white !important;
	}

	ion-select {
		color: white;
	}

	ion-input, .input {
		margin-bottom: 15px !important;
		border-radius: 20px !important;
		--background: rgba(240, 240, 240, .3);
		-webkit-transition: box-shadow .5s ease !important;
		-moz-transition: box-shadow .5s ease !important;
		-ms-transition: box-shadow .5s ease !important;
		-o-transition: box-shadow .5s ease !important;
		transition: box-shadow .5s ease !important;
	}

	ion-col {
		padding: 0;
	}

	input {
		text-indent: 10px;
	}

	.invalid {
		box-shadow: 0 0 3px 1px rgb(255, 0, 0) !important;
	}

	@-webkit-keyframes Gradient {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}

	@-moz-keyframes Gradient {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}

	@keyframes Gradient {
		0% {
			background-position: 0% 50%
		}
		50% {
			background-position: 100% 50%
		}
		100% {
			background-position: 0% 50%
		}
	}

}