<ion-header>
	<ion-toolbar color="primary" *ngIf="user$ | async as user">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>@{{user.username}} - {{action==="following"?"Following":"Followers"}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="users$ | async as users">
	<user-item *ngFor="let user of users" [user]="user" (click)="goToUserDetail(user)"></user-item>
	<h4 style="color: rgb(170,170,170); text-align: center;" *ngIf="!users.length">No Follow</h4>
</ion-content>