<ion-card>

	<user-item [user]="tweet.user" (click)="goToUserDetail(tweet.user)"></user-item>
	<hr />
	<div class="tweet-image" *ngIf="tweet.image">
		<img [src]="helper.getUrl(tweet.image)">
	</div>

	<ion-card-content>
		<p>{{tweet.body}}</p>
	</ion-card-content>
	<ion-row>
		<ion-col offset="1" size="3" align-self-center>
			<div padding-vertical="3">
				<ion-note>
					{{tweet.createdAt | fromNow}} ago
				</ion-note>
			</div>
		</ion-col>
		<ion-col size="3" offset="5" align="center" *ngIf="mine">
			<ion-button fill="clear" size="small" expand="block" color="danger" (click)="removeTweet()">
				<ion-icon slot="icon-only" name="trash"></ion-icon>
			</ion-button>
		</ion-col>
	</ion-row>
	<ion-row class="top-line">
		<ion-col size="4">
			<ion-button fill="clear" expand="full" size="small" (click)="manageLike();" [class.liked]="liked">
				<ion-icon slot="start" name="thumbs-up"></ion-icon>
				<div>{{tweet.favorites.length}} LIKES</div>
			</ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button fill="clear" expand="full" size="small" (click)="comment()">
				<ion-icon slot="start" name="text"></ion-icon>
				<div>{{tweet.comments.length}}</div>
			</ion-button>
		</ion-col>
		<ion-col size="4">
			<ion-button fill="clear" expand="full" size="small" (click)="share()">
				<ion-icon slot="start" name="share"></ion-icon>
				<div>SHARE</div>
			</ion-button>
		</ion-col>
	</ion-row>
</ion-card>
