<ion-card>

	<user-item [user]="data.user" [background]="true" (click)="goToUserDetail(data.user)"></user-item>

	<img *ngIf="data.image" src="{{data.image | url}}">

	<ion-card-content>
		<p>{{data.body}}</p>
	</ion-card-content>
	<ion-row>
		<ion-col offset-1 col-3>
			<ion-note>
				{{data.createdAt | fromNow}} ago
			</ion-note>
		</ion-col>
		<ion-col col-3 offset-5 align="center" *ngIf="mine">
			<button ion-button icon-only clear color="danger" small block (click)="removeTweet()">
				<ion-icon name="trash"></ion-icon>
			</button>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-4 align="center">
			<button ion-button clear icon-start small (click)="manageLike();" [class.liked]="liked">
				<ion-icon name="thumbs-up"></ion-icon>
				<div>{{data.favorites.length}} LIKES</div>
			</button>
		</ion-col>
		<ion-col col-4 align="center">
			<button ion-button icon-start clear small (click)="comment()">
				<ion-icon name="text"></ion-icon>
				<div>{{data.comments.length}} COMMENTS</div>
			</button>
		</ion-col>
		<ion-col col-4 *ngIf="!mine" style="align-self:center;">
			<button ion-button icon-start clear small (click)="share()">
				<ion-icon name="share"></ion-icon>
				<div>SHARE</div>
			</button>
		</ion-col>
	</ion-row>
</ion-card>
