<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-button (click)="close()">
				<ion-icon name="close" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>New Tweet</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-textarea [(ngModel)]="text" placeholder="Insert your tweet here..."></ion-textarea>
	<div class="card-background-page" *ngIf="imageSource">
		<ion-card>
			<img [src]="imageSource"/>
		</ion-card>
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-button (click)="file.click()">
			<ion-icon name="image" slot="icon-only"></ion-icon>
		</ion-button>
		<input type="file" style="display: none;" accept="image/*" (change)="onFileChanged(file)" #file>

		<ion-buttons slot="end">
			<ion-button color="royal" (click)="send()" type="submit">
				Tweet
				<ion-icon name="send" slot="end"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
