<ion-header>
	<ion-toolbar color="primary">
		<ion-title>{{title}}</ion-title>
		<ion-buttons slot="start">
			<ion-button (click)="close()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [class.dark-background]="profileImageSrc">
	<div class="flex-center">
		<div style="width: 100%;" *ngIf="!profileImageSrc">
			<div align="center">
				<ion-icon style="font-size: 200px;" name="images"></ion-icon>
			</div>
			<h4 text-center>Choose an Image</h4>
		</div>
		<img [src]="profileImageSrc" *ngIf="profileImageSrc">
	</div>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<input type="file" style="display: none;" accept="image/*" (change)="onFileChanged(file)" #file>
		<ion-button fill="clear" expand="block" color="dark" class="button-text-left" (click)="file.click()">
			<ion-icon name="image" slot="start"></ion-icon>
			Choose Image
		</ion-button>
		<ion-buttons slot="end">
			<ion-button color="royal" (click)="send()">
				Submit
				<ion-icon name="send" slot="end"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>
