<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			<ion-icon slot="start" name="text"></ion-icon>
			Comments
		</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="close()">
				<ion-icon slot="icon-only" name="close"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<h5 style="margin-top: 40px; text-align: center; color: rgb(170,170,170);" *ngIf="!tweet.comments.length">NO COMMENTS</h5>
	<ion-list>
		<ion-item *ngFor="let comment of tweet.comments" (click)="showOptions(comment)">
			<ion-avatar slot="start">
				<img [src]="helper.profileImage(comment.user.profileImage)">
			</ion-avatar>
			<ion-label text-wrap>
				<h2>{{comment.user.name}}</h2>
				<p>{{comment.body}}</p>
			</ion-label>
		</ion-item>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-input type="text" placeholder="Comment Something..." [(ngModel)]="comment"></ion-input>
		<ion-buttons slot="end" *ngIf="comment.trim().length">
			<ion-button color="royal" (click)="send()">
				Comments
				<ion-icon slot="end" name="send"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>

