<ion-header>
	<ion-navbar color="primary">
		<ion-buttons end>
			<button ion-button icon-only (click)="close()">
				<ion-icon name="close"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>
			<ion-icon name="text"></ion-icon>
			Comments
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<h5 style="margin-top: 40px; text-align: center; color: rgb(170,170,170);" *ngIf="!tweet.comments.length">NO
		COMMENTS</h5>
	<ion-list>
		<button ion-item *ngFor="let comment of tweet.comments" (click)="showOptions(comment)">
			<ion-avatar item-start>
				<img [src]="comment.user.profileImage?helper.getUrl(comment.user.profileImage):'assets/imgs/img_avatar.png'">
			</ion-avatar>
			<h2>{{comment.user.name}}</h2>
			<p>{{comment.body}}</p>
		</button>
	</ion-list>
</ion-content>

<ion-footer>
	<ion-toolbar>
		<ion-input type="text" placeholder="Comment Something..." [(ngModel)]="comment"></ion-input>
		<ion-buttons end *ngIf="comment.trim().length">
			<button ion-button icon-end color="royal" (click)="send()">
				Comments
				<ion-icon name="send"></ion-icon>
			</button>
		</ion-buttons>
	</ion-toolbar>
</ion-footer>

